body{
	background-color:#000;
}
.particle-black{
	color: black;
	font-size: 120%;
	font-weight: bold;
}
.particle-green{
	color: green;
	font-size: 120%;
	font-weight: bold;
}
.particle-red{
	color: red;
	font-size: 120%;
	font-weight: bold;
}
